.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 20px auto;
  padding: 20px;
  background-color: hsl(226, 25%, 17%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* عنوان چپ، آیکون راست */
  align-items: center;
  padding: 15px 30px;
  transition: all 0.3s ease;
}

.appLight .navbar {
  background-color: #fff;
}

.navbar.dark {
  background-color: #111;
  color: white;
}

/* حالت روشن */
.navbar.light {
  background-color: #fff;
  color: black;
}

.iconBtn {
  display: flex;
  align-items: center;
}

.themeToggle {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: hsl(225, 23%, 24%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.logoContainer {
  display: flex;
}
.logoContainer h1 {
  margin-left: 15px;
}

.theme-icon {
  font-size: 26px;
  color: #facc15; /* رنگ طلایی خورشید */
}

.theme-icon {
  color: #0ea5e9; /* رنگ آبی برای ماه */
}
.appLight .themeToggle {
  background-color: aliceblue;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    padding: 10px 16px;
  }

  .logoContainer {
    justify-content: center;
    align-items: center;
  }

  .iconBtn {
    justify-content: center;
  }

  .themeToggle {
    width: 36px;
    height: 36px;
  }
}
