/* مخفی کردن checkbox */
.toggle-checkbox {
  display: none;
}

/* استایل‌دهی به toggle container */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 18px;
}

/* استایل‌دهی label برای نمایش toggle switch */
.toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* دایره کوچک‌تر */
.toggle-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px; /* کوچک‌تر شد */
  height: 14px; /* کوچک‌تر شد */
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* رنگ toggle وقتی فعال است */
.toggle-checkbox:checked + .toggle-label {
  background-color: #e86e0a;
}

/* حرکت دایره روی toggle */
.toggle-checkbox:checked + .toggle-label::before {
  transform: translateX(22px); /* متناسب با اندازه جدید دایره */
}
.appLight .toggle-checkbox:checked + .toggle-label {
  background-color: rgb(170, 9, 9);
}
