.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* فاصله بین کارت‌ها */
}
.card {
  width: 400px;
  height: 150px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(226, 25%, 17%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.appLight .card {
  background-color: #fff;
}
.appLight .desc h3 {
  color: black;
  font-weight: bold;
}

.appLight .desc p {
  color: rgb(133, 132, 132);
}
.logoDesc {
  display: flex;
}
.desc {
  margin: 0 15px;
}
.desc p {
  color: #eee8e8;
  font-size: 14px;
  margin-top: 5px;
}
.buttons {
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.removeBtn {
  all: unset;
  padding: 5px;
  border-radius: 10px;
  background-color: hsl(231, 6%, 22%);
  color: #eee8e8;
}
.appLight .removeBtn {
  background-color: #fff;
  color: black;
  border: 1px solid gray;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* کارت‌ها زیر هم */
    align-items: center; /* وسط‌چین */
  }

  .card {
    width: 90%; /* عرض متناسب با صفحه */
    max-width: 400px;
    height: auto;
  }
}
